<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a la vida de<%= title %></h1>
    <p>Diviertete con nosotros creando tus juegos!</p>
  </body>
</html>
