<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
    <h2>Quiz: el juego de la vida</h2>
    </header>

    <nav>
      <a href="/">Inicio</a>
      <a href="/question">Preguntas</a>
    </nav>

    <section>
      <div><%- body %></div>
    </section>

    <footer>
      <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
    </footer>
  </body>
</html>