<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
          media="only screen and (min-width: 800px) and (min-device-width: 600px)" 
          href='/stylesheets/huge.css' />
    <link rel='stylesheet' 
          media="only screen and (min-width: 480px)" 
          href='/stylesheets/smart.css' />
  </head>
  <body>
  <div id="page">

    <header class="main">
    <h2>Quiz: el juego de la vida</h2>
    </header>

    <nav class="main" role="navigation">
      <a href="/">Inicio</a>
      <a href="/quizzes">Preguntas</a>
      <a href="/author">Autor</a>
    </nav>

    <section class="main">
      <div><%- body %></div>
    </section>

    <footer class="main">
      <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
    </footer>
  </div>
  </body>
</html>