<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: el juego de las preguntas</h1>
    	<p>HELL <%=result%>! LA RESPUESTA <strong><%=answer%></strong> <%=result%> ES CORRECTA! </p>
    	<a href="/question">Intétalo de nuevo</a>
  </body>
</html>