<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    	<p>HELL <%=result%>! LA RESPUESTA <strong><%=answer%></strong> <%=result%> ES CORRECTA! </p>
    	<a href="/quizzes/<%= quizzes[i].id %>">Volver</a>
  </body>
</html>