<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="get" action="/quizzes/<%= quizzes[i].id %>/check">
    	<p>Pregunta: <%=question %></p>
    	<input type="text" name="answer" value="<%=answer%>" placeholder="Responda acá" > </input>
    	<input type="submit" value="Comprobar" > </input>
    </form>
  </body>
</html>