<table>
      <% for (var i in quizzes) { %>
         <tr>
           <td><a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a></td>
        </tr>
     <% } %>
</table>
 <form method="get" action="/quizzes">
	<br>Introduce una pregunta a buscar:<p>
	<input type="text" name="search" value="" placeholder="Escriba aquí">
	<input type="submit" value="Buscar">
</form>